{% extends "base.html" %}

{% block metatags %}
<title>Justin Collins</title>
<meta name="description" content="Justin Collins">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="col-5">
            <img src="{{static_url('images/JCAnimatedAvatar.jpg')}}" class="img-fluid" alt="Justin Collins">
        </div>
        <div class="col-7 intro-copy">
            <p class="lead">My name is Justin Collins, and I've been working in technology and software engineering
                for more than 20 years. I grew up around computers and was always pretty comfortable figuring out
                how they worked, although I never really planned on making a career out of it. At one point, I
                actually wanted to own a bar like Sam Malone from Cheers. Somewhere along the way, life had other
                plans, and I ended up turning something I was good at into a career.</p>
            <p class="lead">Over the years, I've worked my way through software development, systems administration,
                DevOps, cloud infrastructure, and platform engineering. These days, a lot of my work revolves around
                AWS, Kubernetes, infrastructure as code, CI/CD, GitOps, and developer experience, along with plenty
                of Python, Go, and whatever other technology happens to be useful for solving the problem in front
                of me. I've become a big believer in treating infrastructure and application changes the same way we
                treat code: something that should be versioned, reviewed, repeatable, and easy to understand.</p>
            <p class="lead">The part of engineering I enjoy most is solving problems. I like figuring out why
                something isn't working, finding ways to automate repetitive or annoying tasks, and learning new
                technology just because I want to understand how it works. I'm pretty pragmatic and
                automation-minded, and I tend to approach problems with the question of "how can we make this
                better?" rather than just fixing the same problem over and over.</p>
            <p class="lead">I also enjoy helping other people figure things out. I like taking ownership of a
                project and seeing it through, but I'm just as happy teaching someone else how to solve the problem
                themselves. I'm very much a "teach a man to fish" kind of person. If I can build something that
                makes another engineer's job easier&mdash;or teach them something they can use the next time
                around&mdash;that's usually a win in my book.</p>
            <p class="lead">Outside of work, most of my time revolves around family. With kids involved in things
                like soccer, band, and marching band, there is usually somewhere I'm supposed to be. When I get some
                time to myself, I enjoy gaming, tinkering with my home lab, cooking, traveling when I can, and
                watching a good movie or TV show. I'm a New Orleans Saints fan, an Alabama football fan (Roll
                Tide!), and a pretty big Dungeons &amp; Dragons nerd.</p>
            <p class="lead">This site is where I keep some of the things I've built, worked on, and found
                interesting over the years. If you're interested in the more technical side of what I do, you can
                find my <a href="https://github.com/jbc0981" target="_blank">GitHub</a> and
                <a href="{{static_url('content/JustinCollinsResume.pdf')}}" target="_blank">resume</a> below.</p>
        </div>
    </div>
</div>
{% endblock %}
