
@charset "UTF-8";

main>.container {
  padding: 70px 10px 0px 10px;
}

#navbarCollapse>ul {
  margin-left: unset;
  margin-right: auto !important;
}

body {
  background-color: #d4e2eb;
}

.bg-light {
  background-color: #2F5D8C!important;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.footer-text {
  color:#ffffff;
}