{% extends "base.html" %}

{% block metatags %}
<title>Justin Collins</title>
<meta name="description" content="Justin Collins">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="{{url_for('static', filename='images/JustinCollins.jpeg')}}" class="img-fluid" alt="Justin Collins">
        </div>
        <div class="col-8">
            <p class="lead">Welcome to my corner of the web, where the digital meets the dynamic! I'm thrilled to have you here.</p>
            <p class="lead">With over a decade of experience in the ever-evolving landscape of technology, I'm passionate about orchestrating seamless solutions that harness the power of DevOps methodologies. As a seasoned DevOps engineer, I specialize in leveraging cutting-edge tools and platforms like Kubernetes, AWS, and Terraform to streamline development workflows and propel projects to new heights.</p>
            <p class="lead">From architecting robust infrastructure on AWS using different Infrastructure-as-Code (IaC) tools to fine-tuning Python and Go applications, my journey in software engineering has been defined by a commitment to excellence and a relentless pursuit of innovation. Whether it's crafting efficient Helm charts or diving deep into the intricacies of containerization, I thrive on the challenges that come with pushing the boundaries of what's possible.</p>
            <p class="lead">You can see my GitHub account <a href="https://github.com/jbc0981" target="_blank">here</a> as well as my resume <a href="{{url_for('static', filename='content/JustinCollinsResume.pdf')}}"
                target="_blank">here</a>.</p>
            <p class="lead">Welcome aboard!</p>
            <p class="lead">Justin Collins</p>
            <p class="lead">DevOps Engineer & Technologist</p>
        </div>
    </div>
</div>
{% endblock %}